button {
    margin: 4px;
    font-family: monospace;
}

#input-files {
    display: none;
}

#nodes {
    margin: 4px;
    font-family: monospace;
    font-size: small;
    font-weight: bold;
}

#app-logs {
    margin: 4px;
    font-family: monospace;
    font-size: small;
    white-space: pre;
}

#connection-logs {
    margin: 4px;
    font-family: monospace;
    font-size: small;
    white-space: pre;
}

.empty {
    height: 20px;
    width: 100%;
}

.node {
    width: 700px;
    display: flex;
}

.uuid {
    width: 20%;
}

.connection-state {
    width: 40%;
}

.module-state {
    width: 40%;
}
