button {
    margin: 4px;
    font-family: monospace;
}

#nodes {
    margin: 4px;
    font-family: monospace;
    font-size: small;
    font-weight: bold;
}

#files {
    margin: 4px;
    font-family: monospace;
    font-size: small;
    font-weight: bold;
}

#logs {
    margin: 4px;
    font-family: monospace;
    font-size: small;
    white-space: pre;
}

.log-green {
    color: darkgreen;
    font-weight: bold;
}

.log-red {
    color: darkred;
    font-weight: bold;
}

.empty {
    height: 20px;
    width: 100%;
}

#input-files {
    display: none;
}
